* {
    margin: 0;
    color:white;
    background-color: black;
}

a {
    text-decoration: none;
    font-size:1em;
}

a:hover {
    font-weight: bold;
}

nav {
    margin-top:0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inconsolata', monospace;
}

nav p {
    font-family: 'DM Sans', sans-serif;
    font-size:4em;
    margin-left:0.5em;
}

.except {
    font-size:0.8em;
    font-family: 'DM Sans', sans-serif;
    margin-left:3em;
    margin-top: -0.5em;
    font-weight:bold;
}
nav div a {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
  }

.self {
    margin-left: 15px;
  }

  .graphic-intro {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-top:15%;
}

.graphic-intro p {
    font-size:1.2em;
    font-weight:bold;
    text-align: right;
    margin-top:14%;
    width:11em;
}

.graphic-intro img {
    position:fixed;
    bottom:0;
    right:0;
}