.container {
    position:absolute;
    bottom:0;
    width:7em;
    margin-left:7.5em;
    margin-bottom:1em;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:flex-end;
    font-family: 'DM Sans', sans-serif;
    font-weight:bold;
    font-size:1.3em;
}

.container .logo {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap:1em;

}

.graphic-intro img {
    opacity:0.3;
}

 .ref:hover {
    opacity:0.5;
}

.p1:hover {
    font-size:1.2em;
}

.link:hover {
    font-size:1.2em;
}