* {
    margin: 0;
    color:black;
    background-color: white;
}

a {
    text-decoration: none;
    font-size:1em;
}

a:hover {
    font-weight: bold;
    opacity:1;
}

nav {
    padding-top:0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inconsolata', monospace;
}

nav p {
    font-family: 'DM Sans', sans-serif;
    font-size:4.2em;
    margin-left:0.5em;
}

.except {
    font-size:0.8em;
    width:15em;
    font-family: 'DM Sans', sans-serif;
    margin-left:2.8em;
    margin-top: -0.5em;
    font-weight:bold;
}

nav div a {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
  }

.self {
    margin-left: 15px;
  }

  .graphic-intro {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

.graphic-intro p {
    position:absolute;
    bottom:2vh;
    left:1vh;
    font-size:1.2em;
    font-weight:bold;
    text-align: right;
    width:11em;
}

.graphic-intro img {
    position:absolute;
    bottom:0;
    right:0;
    max-height: 90%;
    width:auto;
    border-width:0px;
    border-style:solid;
    border-top-width:3px;
    border-image:linear-gradient(to right,white 30%, black) 1;
}

.coloring {
    display:flex;
    gap:1em;
    margin-top:17em;
    font-family: 'Inconsolata', monospace;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.special {
    opacity:0.5;
}